<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CyberLearn Dressing Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />
    <link rel="stylesheet" href="./../assets/css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="text-center">
              <img src="./../assets/images/cybersoft.png" alt="Card image" />
            </div>
            <div class="card-body">
              <h4 class="card-title text-center">
                CyberLearn - Học lập trình trực tuyến - Dự án thử đồ trực tuyến
                - Virtual Dressing Room
              </h4>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#ao">Áo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#quan">Quần</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#giay">Giày Dép</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#tuixach"
                >Túi Xách</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#daychuyen"
                >Dây Chuyền</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#kieutoc"
                >Kiểu tóc</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#nen">Nền</a>
            </li>
          </ul>
          <div class="well pr-4">
            <!-- Tab panes -->
            <div class="tab-content">
              <div id="ao" class="tab-pane fade show active">
                <div class="item-container d-flex">
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/clothes/topcloth1.png"
                      alt="Áo 1" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay đồ
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/clothes/topcloth2.png"
                      alt="Áo 2" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay đồ
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/clothes/topcloth3.png"
                      alt="Áo 3" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay đồ
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/clothes/topcloth4.png"
                      alt="Áo 4" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay đồ
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/clothes/topcloth5.png"
                      alt="Áo 5" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay đồ
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/clothes/topcloth6.png"
                      alt="Áo 6" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay đồ
                    </button>
                  </div>
                </div>
              </div>
              <div id="quan" class="tab-pane fade">
                <div class="item-container d-flex">
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/clothes/botcloth1.png"
                      alt="Quần 1" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay đồ
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/clothes/botcloth2.png"
                      alt="Quần 2" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay đồ
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/clothes/botcloth3.png"
                      alt="Quần 3" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay đồ
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/clothes/botcloth4.png"
                      alt="Quần 4" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay đồ
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/clothes/botcloth5.png"
                      alt="Quần 5" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay đồ
                    </button>
                  </div>
                </div>
              </div>
              <div id="giay" class="tab-pane fade">
                <div class="item-container d-flex">
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/shoes/shoes1.png"
                      alt="Giày 1" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay giày
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/shoes/shoes2.png"
                      alt="Giày 2" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay giày
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/shoes/shoes3.png"
                      alt="Giày 3" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay giày
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/shoes/shoes4.png"
                      alt="Giày 4" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay giày
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/shoes/shoes5.png"
                      alt="Giày 5" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay giày
                    </button>
                  </div>
                </div>
              </div>
              <div id="tuixach" class="tab-pane fade">
                <div class="item-container d-flex">
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/handbags/handbag1.png"
                      alt="Túi 1" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay túi
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/handbags/handbag2.png"
                      alt="Túi 2" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay túi
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/handbags/handbag3.png"
                      alt="Túi 3" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay túi
                    </button>
                  </div>
                </div>
              </div>
              <div id="daychuyen" class="tab-pane fade">
                <div class="item-container d-flex">
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/necklaces/necklace1.png"
                      alt="Dây chuyền 1" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay dây chuyền
                    </button>
                  </div>

                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/necklaces/necklace2.png"
                      alt="Dây chuyền 2" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay dây chuyền
                    </button>
                  </div>

                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/necklaces/necklace3.png"
                      alt="Dây chuyền 3" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay dây chuyền
                    </button>
                  </div>
                </div>
              </div>
              <div id="kieutoc" class="tab-pane fade">
                <div class="item-container d-flex">
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/hairstyle/hairstyle1.png"
                      alt="Kiểu tóc 1" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay kiểu tóc
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/hairstyle/hairstyle2.png"
                      alt="Kiểu tóc 2" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay kiểu tóc
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/hairstyle/hairstyle3.png"
                      alt="Kiểu tóc 3" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay kiểu tóc
                    </button>
                  </div>
                </div>
              </div>
              <div id="nen" class="tab-pane fade">
                <div class="item-container d-flex">
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/background/background1.jpg"
                      alt="Ảnh nền 1" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay nền
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/background/background2.jpg"
                      alt="Ảnh nền 2" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay nền
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/background/background3.jpg"
                      alt="Ảnh nền 3" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay nền
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/background/background4.jpg"
                      alt="Ảnh nền 4" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay nền
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/background/background5.jpg"
                      alt="Ảnh nền 5" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay nền
                    </button>
                  </div>
                  <div class="col-2 text-center">
                    <img
                      class="item-img"
                      src="./../assets/images/background/background6.jpg"
                      alt="Ảnh nền 6" />
                    <button class="text-center btn-primary mt-2 p-2 border-0">
                      Thay nền
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contain">
            <div class="body"></div>
            <div class="model"></div>
            <div class="hairstyle"></div>
            <div class="necklace"></div>
            <div class="bikinitop"></div>
            <div class="bikinibottom"></div>
            <div class="handbag"></div>
            <div class="feet"></div>
            <div class="feet-l"></div>
            <div class="feet-r"></div>
            <div class="background"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <!-- <script src="./../models/ListChosen.js"></script>
    <script src="./../models/ChoseItem.js"></script>
    <script src="./../utils/callData.js"></script>
    <script src="./../controllers/main.js"></script>
    <script src="./../controllers/index.js"></script> -->
    <script src="./../controllers/main.js"></script>
  </body>
</html>
